html {
  height: 100%;
}

/* header {
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
  /* position: absolute; */
  /* border-bottom: 2px solid gray; 
}
*/
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}
#logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 8rem;
}

#logo h1 {
  font-size: 3rem;
  margin-bottom: 0;
  padding-left: 0 1rem;
  font-family: "Poppins", "sans-serif";
  color: rgb(227, 191, 33);
}

#logo img {
  height: 8rem;
  margin-bottom: 10px;
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  font-family: "Raleway", "Sans-serif";
}

/* .search-icon{
  margin-top: 1.8rem;
  margin-left: 22%;
} */

nav ul {
  display: flex;
  vertical-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: flex;
  vertical-align: center;
  margin-bottom: 2rem;
  padding: 0 1.4rem;
  list-style: none;
  transition: background-color 1s;
}

nav ul li a {
  position: relative;
  padding: 0 0.5rem;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 20px;
  letter-spacing: 0.5px;
  transition: border 0.5s;
}

a:after{
    content: "";
    position: absolute;
    background-color: rgb(227, 191, 33);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}


a:hover:after{
    width: 100%;

}

form {
  position: relative;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 1px solid rgb(215, 208, 208);
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}
.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color:black;
  text-align: center;
  font-size: 1.2em;
  transform: all 1s;
  transition: background-color 0.3s,color 0.3s;
}
form:hover {
  width: 300px;
  cursor: pointer;
}

form:hover input {
  display: block;
}

form:hover .fa {
  background-color: rgb(227, 191, 33);
  color: white;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}
